body {
    background-color: #f4f4f4;
}

.app_header {
  position: relative;
  background-color: #f4f4f4;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60px;
}

.app_header_content {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app_header_logo_link {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.app_logo {
  height: 48px;
  width: auto;
  object-fit: contain;
}

.app_title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333333;
  margin: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.app_content {
    display: grid;
    grid-template-columns: 1fr;

    padding: 20px;
    margin: 20px 0;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #333333;
}

/* force the app footer to the bottom of the page */
.app_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.app h1,
.app h2 {
    margin: 10px 0;
    padding: 0;
    text-align: center;
}

.app button:disabled {
    cursor: not-allowed;
    background-color: #cccccccc;
}

.app .highlight,
.app button:hover {
    background-color: #E6B513;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.button_container {
    display: flex;
    gap: 10px;
}

.button_container>button {
    flex: 1;
    padding: 10px 0px;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

/* container adding padding and stuff with some separation between elements */
.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f4f4f4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
    
.container>div {
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}