body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333333;
}

.menu {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 0;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu h1 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.console,
.menu-left-bar {
    flex: 1;
    justify-content: left;
    border: 2px solid #cccccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

/* TOFIX line stuff */
.console-output-container,
.console-input-container {
    flex-direction: column;
    padding-left: 10px;
    overflow: auto;
    height: 150px;
    background-color: #f4f4f4;
    margin: 0;
}

.menu-left-bar img {
    width: 100%;
}

.console-clear,
.menu-refresh,
.menu-printers,
.menu-files {
    margin-top: auto;
    width: 100%;
}

.console-clear button,
.menu-refresh button,
.menu-printers button,
.menu-files button {
    display: block;
    width: 100%;
    padding: 14px 16px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    color: #333333;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.console-clear button:hover,
.menu-refresh button:hover,
.menu-printers button:hover,
.menu-files button:hover {
    background-color: #E6B513;
    color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
