
/* 4x3 grid of equal sized buttons centered in the middle of the screen */
.move_buttons {
    display: grid;
    gap: 20px;
    padding: 10px;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    object-fit: cover;
}


.move input {
    width: 100%;
    padding: 10px 0px;

    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-align: center;
    cursor: pointer;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.right_arrow,
.left_arrow,
.zup_arrow,
.zdown_arrow,
.yup_arrow,
.ydown_arrow {
    padding: 10px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
}

.right_arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    grid-column: 3;
    grid-row: 2;
}

.left_arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    grid-column: 1;
    grid-row: 2;
}

.yup_arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    grid-column: 2;
    grid-row: 1;
}

.ydown_arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    grid-column: 2;
    grid-row: 3;
}

.zup_arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    grid-column: 4;
    grid-row: 1;
}

.zdown_arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    grid-column: 4;
    grid-row: 3;
}

.home_button {
    padding: 10px;
    border: solid black;
    border-width: 3px 3px 3px 3px;
    grid-column: 2;
    grid-row: 2;
}
