<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>MakerPrint</title>
    <link rel="stylesheet" href="static/style.css">
</head>


<body>
    <!-- Menu -->
    <div class="menu">
        <div class="menu-left-bar">
            <h1>MakerPrint</h1>
            <img src="static/logo.png" alt="MakerPrint">

            <!-- list of available printers -->
            <div class="menu-printers">
                <h3>Printers</h3>
                found {{ printer_count }} printers
                {{ printers }}
            </div>

            <!-- 
                list of available files for the current printer
                list of available files for the current printer
                this list is updated when a printer is selected
                else, it is empty

                not sure about this one
            -->
            <div class="menu-files">
                <h3>Files</h3>
                found {{ file_count }} files
                {{ files }}
            </div>

            <div class="menu-refresh">
                <button type="button" onclick="window.location.href='/printer/refresh'">Refresh</button>
            </div>
        </div>

        <div class="console">
            <h3>Connected to {{ printer_port }} </h3>
            <div class="console-output">
                <h3>Console output</h3>
                <div class="console-output-container">
                    {{ console_output }}
                </div>
            </div>
            <div class="console-input">
                <h3>Console input</h3>
                <div class="console-input-container">
                    {{ console_input }}
                </div>
                <form action="/printer/command" method="post">
                    <input type="text" name="command" id="command">
                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="console-clear">
                <button type="button" onclick="window.location.href='/printer/clear'">Clear</button>
            </div>
    </div>
</body>


</html>